/* LEFT BAR STYLE */
a{
    text-decoration: none;
    color: #888;
}
.left-bar{
    height: 100%;
    width: 100px;
    position: fixed;
    z-index:1;
    top: 0;
    left:0;
    background-color: #302725;
    overflow-x: hidden;
    padding: 5px;
}

.left-bar .row{
    height: 100px;
    width: 200%;

}