/* LEFT BAR STYLE */
a {
    text-decoration: none;
}
.left-bar{
    height: 100%;
    width: 80px;
    background-color: #302725;
    position: fixed;
    z-index:1;
    top: 0;
    left:0;
    overflow-x: hidden;
    padding: 5px;
    text-align: center;
    font-size: 12px;
}
.left-bar a{
    color: #888;
}
.lbar-row{
    padding: 10px 0;
}
.lbar-avatar img{
    width: 30px;
    border-radius: 50%;
}
.lbar-icon{
    color: #888;
}
.lbar-icon{
    font-size: 20px;
}
.lbar-icon i:hover {
    color: #f1f1f1;
}
.lbar-title a:hover {
    color: #f1f1f1;
}
.lbar-logout{
    margin-top: 400px;
}
/* RIGHT BAR */
.right-bar{
    height: 100%;
    width: 270px;
    background-color: #f6f6f6;
    position: fixed;
    z-index:1;
    top: 0;
    right:0;
    overflow-x: hidden;
    padding: 5px 20px;
}

/* RBAR TOP */
.rbar-top{
    height: 40px;
    padding: 14px 0;
}
.top-name{
    font-size: 22px;
}
.top-subname{
    color: #999;
}
/* RBAR CONTENT */
.rbar-menu{
    border-top: 1px solid #eee;
    padding: 10px 0;
}
.rbar-row{
    padding: 8px 0;
}
.rbar-title{
    color: #999;
    padding: 10px 0;
    font-size: 14px;
}
.rbar-icon{
    color: #aaa;
    font-size: 16px;
    display: inline;
    margin-right: 5px;
}
.rbar-act{
    color: #555;
    display: inline;
}

/* CONTAINER */
.container{
    margin-left: 80px;
    margin-right: 300px;
    padding: 10px 10px;
}

/* Container Top */
.container-top{
    padding-bottom: 13px;
    border-bottom: 1px solid #eee;
}
.top-icon{
    font-size: 30px;
    float: left;
    padding: 5px 20px;
    color: #aaa;
}
.top-act button{
    position: absolute;
    top: 25px;
    right: 320px;
    background-color: #C95353;
    color: #fff;
    font-size: 15px;
    padding: 10px;
    border-radius: 4px;
    border: none;
}
.top-account{
    color: #ccc;
}
.container-body{
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

/* Container body > Body info */
.info-avatar img{
    border-radius: 50%;
    width: 100px;
}
.info-avatar{
    position: absolute;
}
.info-detail{
    margin-left: 120px;
}
.info-name{
    font-size: 26px;
    padding: 8px 0;
}
.info-position{
    font-size: 16px;
    color: #aaa;
    padding: 8px 0;
}
.info-contact{
    color: #666;
    padding: 5px 0;
}
.info-contact .info-title{
    position: absolute;
}
/* Container Body > body-detail */
.list{
    padding: 20px 0;
}
.list-title{
    color: #aaa;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}
.list-row{
    padding: 10px 0;
    border-bottom: 1px dotted #ddd;
}
.row-name{
    font-size: 18px;
}
.row-name, .row-info{
    padding: 5px 0;
}
.contacts .row-name{
    color: #888;
    position: absolute;
    max-width: 150px;
    overflow: hidden;
    font-size: 14px;
}
.contacts .row-info{
    color: #d85743;
    margin-left: 150px;
}
.groups .row-name, .dreports .row-name{
    color: #d85743;
}
.groups .row-info, .dreports .row-info{
    color: #999;
}


/* modal */
.modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    border-radius: 4px;
}
.modal-dialog{
    max-width: 600px;;
    margin:auto;
    background-color: #fff;
}
/* Modal header */
.modal-header{
    background-color: #eee;
    color: #555;
    padding: 10px 20px;
}
.modal-body{
    padding: 10px 20px;
}
.modal-footer{
    border-top: 1px dotted #ddd;
    padding: 10px 20px;
    height: 35px;
}
.modal-footer .button{
    width: 48%;
    float: left;
    padding: 10px 0;
    margin: 0 5px;
    text-align: center;
    border-radius: 5px;
}
.btn-success{
    background-color: #7abd1a;
    color: #fff;
    border: none;
    float: left;
}
.btn-cancel{
    color: #666;
    background-color: #ddd; 
    border: none;
}
/* The Close Button */
.close{
    float: right;
    font-size: 20px;
    font-weight: bold;
}
  
.close:hover,
.close:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modal-row{
    padding: 10px 0;
}
.modal-title{
    float: left;
    width: 150px;
}
.modal-input input{
    padding: 5px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 70%;
}