/*Login Footer */
.footer{
    text-align: center;
}
.title.gray{
    padding-top: 2px solid #eee;
}
.login-with-app input[type="submit"]{
    background-color: #f3f3f3;
    color: #2a91d6;
    padding: 10px 25px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}
.footer .title{
    border-top: 2px solid #eee;
}
.login-with-app{
    border-bottom: 2px solid #eee;
    padding-bottom: 40px;
}
.login-with-other{
    padding: 20px;
}